<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
	<meta http-equiv="Content-type" content="text/html; charset=UTF-8">
	<meta http-equiv="Pragma" content="no-cache">
	<meta http-equiv="expires" content="Wed, 23 Aug 2006 12:40:27 UTC">
	<meta http-equiv="Cache-Control" content="no-cache">
	<meta http-equiv="Pragma" content="no-cache">
	<meta http-equiv="Expires" content="0">
	<!-- <base href="http://admin.tbaby.cn/" target="_self"> -->
	<title>宣仁进销存管理系统(B2C)</title>
	<link rel="stylesheet" href="../../../public/style/style.css" type="text/css" media="all">
	<script type="text/javascript" src="../../../public/js/jquery.js"></script>
	<script type="text/javascript" src="../../../public/js/thickbox_plus.js"></script>
	<script type="text/javascript" src="../../../public/js/cluetip.js"></script>
</head>
<body bgcolor="#FAFEF0" screen_capture_injected="true" youdao="bind">
<div>
	商品名称： 
	&nbsp;&nbsp;&nbsp;&nbsp;商品款号：ND81239036 
	&nbsp;&nbsp;&nbsp;&nbsp;商品品牌：Andersen(安徒生) 
	&nbsp;&nbsp;&nbsp;&nbsp;后台分类：袜子
</div>
<div>
<!--商品前台分类-->
	<div id="typelinkDiv" style="height:350px;overflow-y:scroll;">
		<table width="100%" align="center" cellpadding="0" cellspacing="0" id="classified" class="config_tab">
			<input type="hidden" id="goodsId" value="">
			<tr>
				<td>
					<div>
						<table width="95%" align="center" cellpadding="0" cellspacing="0" class="classified" style="margin: 5px 0;">
							<tr>
								<th width="25%" align="center" class="classified_title">女装</th>
					            <th></th>
							</tr>
							<tr style="display: none;">
								<td align="right" class="bold dark_blue">T恤全都111111</td>
								<td>
									<div class="classifiedElement">
										<label>
											<input type="checkbox" value="11" style="vertical-align: middle;">
											短袖T恤
										</label>
									</div>
									<div class="classifiedElement">
										<label>
											<input type="checkbox" value="12" style="vertical-align: middle;">
											吊带/背心
										</label>
									</div>
									<div class="classifiedElement">
										<label>
											<input type="checkbox" value="13" style="vertical-align: middle;">
											长袖T恤
										</label>
									</div>
									<div class="classifiedElement">
										<label>
											<input type="checkbox" value="14" style="vertical-align: middle;">
											连帽T恤
										</label>
									</div>
									<div class="classifiedElement">
										<label>
											<input type="checkbox" value="223" style="vertical-align: middle;">
											无袖T恤
										</label>
									</div>
									<div class="classifiedElement">
										<label>
											<input type="checkbox" value="224" style="vertical-align: middle;">
											中袖T恤
										</label>
									</div>
									<div class="classifiedElement">
										<label>
											<input type="checkbox" value="404" style="vertical-align: middle;">
											圆领T恤
										</label>
									</div>
									<div class="classifiedElement">
										<label>
											<input type="checkbox" value="405" style="vertical-align: middle;">
											V领T恤
										</label>
									</div>
									<div class="classifiedElement">
										<label>
											<input type="checkbox" value="406" style="vertical-align: middle;">
											长款T恤
										</label>
									</div>
									<div class="classifiedElement">
										<label>
											<input type="checkbox" value="412" style="vertical-align: middle;">
											时尚T恤
										</label>
									</div>
									<div class="classifiedElement">
										<label>
											<input type="checkbox" value="429" style="vertical-align: middle;">
											连身衣
										</label>
									</div>
									<div class="classifiedElement">
										<label>
											<input type="checkbox" value="435" style="vertical-align: middle;">
											雪纺衫
										</label>
									</div>
									<div class="classifiedElement">
										<label>
											<input type="checkbox" value="436" style="vertical-align: middle;">
											无袖衫
										</label>
									</div>
									<div class="classifiedElement">
										<label>
											<input type="checkbox" value="437" style="vertical-align: middle;">
											真丝T恤
										</label>
									</div>
									<div class="classifiedElement">
										<label>
											<input type="checkbox" value="448" style="vertical-align: middle;">
											针织T恤
										</label>
									</div>
									<div class="classifiedElement">
										<label>
											<input type="checkbox" value="454" style="vertical-align: middle;">
											POLO衫
										</label>
									</div>
									<div class="classifiedElement">
										<label>
											<input type="checkbox" value="550" style="vertical-align: middle;">
											上衣
										</label>
									</div>
									<div class="classifiedElement">
										<label>
											<input type="checkbox" value="558" style="vertical-align: middle;">
											内搭衫
										</label>
									</div>
									<div class="classifiedElement">
										<label>
											<input type="checkbox" value="559" style="vertical-align: middle;">
											打底衫
										</label>
									</div>
									<div class="classifiedElement">
										<label>
											<input type="checkbox" value="560" style="vertical-align: middle;">
											时尚衫
										</label>
									</div>
									<div class="classifiedElement">
										<label>
											<input type="checkbox" value="779" style="vertical-align: middle;">
											套头衫
										</label>
									</div>
									<div class="classifiedElement">
										<label>
											<input type="checkbox" value="806" style="vertical-align: middle;">
											护腕
										</label>
									</div>
								</td>
							</tr>
							<tr style="display: none;">
								<td align="right" class="bold dark_blue">衬衫jira真的很讨厌</td>
								<td>
									<div class="classifiedElement">
										<label>
											<input type="checkbox" value="16" style="vertical-align: middle;">
											长袖衬衫
										</label>
									</div>
									<div class="classifiedElement">
										<label>
											<input type="checkbox" value="17" style="vertical-align: middle;">
											短袖/无袖/中袖衬衫
										</label>
									</div>
									<div class="classifiedElement">
										<label>
											<input type="checkbox" value="402" style="vertical-align: middle;">
											衬衫
										</label>
									</div>
									<div class="classifiedElement">
										<label>
											<input type="checkbox" value="504" style="vertical-align: middle;">
											雪纺衬衫
										</label>
									</div>
									<div class="classifiedElement">
										<label>
											<input type="checkbox" value="784" style="vertical-align: middle;">
											连体衬衫
										</label>
									</div>
									<div class="classifiedElement">
										<label>
											<input type="checkbox" value="785" style="vertical-align: middle;">
											衬衣
										</label>
									</div>
									<div class="classifiedElement">
										<label>
											<input type="checkbox" value="794" style="vertical-align: middle;">
											七分袖衬衫
										</label>
									</div>
								</td>
							</tr>
						</table>
					</div>
				</td>
			</tr>
			<tr>
				<td>
					<div>
						<table width="95%" align="center" cellpadding="0" cellspacing="0" class="classified" style="margin: 5px 0;">
							<tr>
								<th width="25%" align="center" class="classified_title">女装</th>
					            <th></th>
							</tr>
							<tr style="display: none;">
								<td align="right" class="bold dark_blue">T恤全都111111</td>
								<td>
									<div class="classifiedElement">
										<label>
											<input type="checkbox" value="11" style="vertical-align: middle;">
											短袖T恤
										</label>
									</div>
									<div class="classifiedElement">
										<label>
											<input type="checkbox" value="12" style="vertical-align: middle;">
											吊带/背心
										</label>
									</div>
									<div class="classifiedElement">
										<label>
											<input type="checkbox" value="13" style="vertical-align: middle;">
											长袖T恤
										</label>
									</div>
									<div class="classifiedElement">
										<label>
											<input type="checkbox" value="14" style="vertical-align: middle;">
											连帽T恤
										</label>
									</div>
									<div class="classifiedElement">
										<label>
											<input type="checkbox" value="223" style="vertical-align: middle;">
											无袖T恤
										</label>
									</div>
									<div class="classifiedElement">
										<label>
											<input type="checkbox" value="224" style="vertical-align: middle;">
											中袖T恤
										</label>
									</div>
									<div class="classifiedElement">
										<label>
											<input type="checkbox" value="404" style="vertical-align: middle;">
											圆领T恤
										</label>
									</div>
									<div class="classifiedElement">
										<label>
											<input type="checkbox" value="405" style="vertical-align: middle;">
											V领T恤
										</label>
									</div>
									<div class="classifiedElement">
										<label>
											<input type="checkbox" value="406" style="vertical-align: middle;">
											长款T恤
										</label>
									</div>
									<div class="classifiedElement">
										<label>
											<input type="checkbox" value="412" style="vertical-align: middle;">
											时尚T恤
										</label>
									</div>
									<div class="classifiedElement">
										<label>
											<input type="checkbox" value="429" style="vertical-align: middle;">
											连身衣
										</label>
									</div>
									<div class="classifiedElement">
										<label>
											<input type="checkbox" value="435" style="vertical-align: middle;">
											雪纺衫
										</label>
									</div>
									<div class="classifiedElement">
										<label>
											<input type="checkbox" value="436" style="vertical-align: middle;">
											无袖衫
										</label>
									</div>
									<div class="classifiedElement">
										<label>
											<input type="checkbox" value="437" style="vertical-align: middle;">
											真丝T恤
										</label>
									</div>
									<div class="classifiedElement">
										<label>
											<input type="checkbox" value="448" style="vertical-align: middle;">
											针织T恤
										</label>
									</div>
									<div class="classifiedElement">
										<label>
											<input type="checkbox" value="454" style="vertical-align: middle;">
											POLO衫
										</label>
									</div>
									<div class="classifiedElement">
										<label>
											<input type="checkbox" value="550" style="vertical-align: middle;">
											上衣
										</label>
									</div>
									<div class="classifiedElement">
										<label>
											<input type="checkbox" value="558" style="vertical-align: middle;">
											内搭衫
										</label>
									</div>
									<div class="classifiedElement">
										<label>
											<input type="checkbox" value="559" style="vertical-align: middle;">
											打底衫
										</label>
									</div>
									<div class="classifiedElement">
										<label>
											<input type="checkbox" value="560" style="vertical-align: middle;">
											时尚衫
										</label>
									</div>
									<div class="classifiedElement">
										<label>
											<input type="checkbox" value="779" style="vertical-align: middle;">
											套头衫
										</label>
									</div>
									<div class="classifiedElement">
										<label>
											<input type="checkbox" value="806" style="vertical-align: middle;">
											护腕
										</label>
									</div>
								</td>
							</tr>
							<tr style="display: none;">
								<td align="right" class="bold dark_blue">衬衫jira真的很讨厌</td>
								<td>
									<div class="classifiedElement">
										<label>
											<input type="checkbox" value="16" style="vertical-align: middle;">
											长袖衬衫
										</label>
									</div>
									<div class="classifiedElement">
										<label>
											<input type="checkbox" value="17" style="vertical-align: middle;">
											短袖/无袖/中袖衬衫
										</label>
									</div>
									<div class="classifiedElement">
										<label>
											<input type="checkbox" value="402" style="vertical-align: middle;">
											衬衫
										</label>
									</div>
									<div class="classifiedElement">
										<label>
											<input type="checkbox" value="504" style="vertical-align: middle;">
											雪纺衬衫
										</label>
									</div>
									<div class="classifiedElement">
										<label>
											<input type="checkbox" value="784" style="vertical-align: middle;">
											连体衬衫
										</label>
									</div>
									<div class="classifiedElement">
										<label>
											<input type="checkbox" value="785" style="vertical-align: middle;">
											衬衣
										</label>
									</div>
									<div class="classifiedElement">
										<label>
											<input type="checkbox" value="794" style="vertical-align: middle;">
											七分袖衬衫
										</label>
									</div>
								</td>
							</tr>
						</table>
					</div>
				</td>
			</tr>
		</table>
	</div>
	<div class="blank5"></div>
	<div style="text-align:center;">
		<input type="button" class="am-btn am-btn-primary" value="保存" onclick="saveGoodsTypeVal()">
	</div>
</div>
<script type="text/javascript">
$(function () {
	$('.classified_title').click(function () {
		var trFirst = $(this).parent(),
			trNextAll = trFirst.nextAll('tr');
		if (trFirst.nextAll('tr:hidden').length>0) {trNextAll.show();}
		else {trNextAll.hide();}
	});
});
</script>
</body>
</html>