

/*----内容层----*/
.btnBuyNow1{width:85px; height:25px; background:url(../img/tuan/all.fw.png) -210px -128px no-repeat; display:block; margin-top:13px; margin-left:20px; _margin-left:0px; }
.btnBuyNow1Gray{width:85px; height:25px; cursor:auto; background:url(../img/tuan/all.fw.png) -210px -159px no-repeat; display:block; margin-top:13px; margin-left:20px; _margin-left:0px; }
.btnBuyNow2{width:114px; height:32px; display: block; margin:5px auto; background:url(../img/tuan/all.fw.png) -302px -128px no-repeat;}
a.btnBuyNow2:hover, .btnBuyNow2Red{background:url(../img/tuan/all.fw.png) -424px -128px no-repeat;}
.btnBuyNow2Gray{width:114px; height:32px; display: block; margin:5px auto; background:url(../img/tuan/all.fw.png) -278px -545px no-repeat; cursor:auto;}
#btnBuyNow0,.btnBuyNow0{width:199px; height:45px; display: block; background:url(../img/tuan/all.fw.png) 0 -128px no-repeat; margin-left:25px;}
.btnBuyNow0Gray{width:199px; height:45px; display: block; background:url(../img/tuan/all.fw.png) -278px -586px no-repeat; margin-left:25px; cursor:auto;}

.forIe6Menu{top:expression(eval(document.documentElement.scrollTop));}
#tuanBtnMoveBox{width:1000px; height:50px;  margin:0 auto;}
#tuanBtnMove{width:1000px; height:50px; margin:0 auto; background:url(../img/tuan/all.fw.png) 0 -8px no-repeat; _background:url(../img/tuan/moveBar.gif) left no-repeat;}
#tuanBtnMove ul{list-style: none;}
#tuanBtnMove ul li{ list-style: none; float:left;  text-align: center;}
#tuanBtnMove ul li p, .moveLiNormal p{padding:0; margin:0; line-height: 18px; font-size: 14px; color:#000;}
#tuanBtnMove ul li s, .moveLiNormal s{text-decoration: none; color:#f00; line-height: 16px; font-size:13px; font-family: '微软雅黑'}
#tLiPrice{margin-left:90px; _margin-left:45px; width:160px; line-height: 50px;}
#tLiPrice h3{padding:0; margin:0; font-size: 35px; color:#fff; font-family:Arial; text-align:left!important;}
#libtnBuyNow1{width:130px; text-align: center;}

.moveLiNormal{width:60px; text-align:center; margin-left:15px; margin-top:5px;}
#moveLiTotal, .tuanCountNum{font-size:22px; color:#f00; line-height: 49px; margin-left:20px;}
#moveLiTotal span, .tuanCountNum span{color:#f00; font-family: arial;}
#moveLiTotal h4, .tuanCountNum h4{color:#666; display: inline; font-size: 16px!important;}
.tuanCountNum{margin-top:22px; margin-left:70px;}
.tuanCountNum p{color:#666; font-size:12px; height:20px; line-height: 20px;}


.tuanCont{width:1000px; margin:0 auto; height:auto;}
#tuanL{width:790px; height:auto; margin-right:15px;}
.adTraceBox{width:193px; height:165px; border:1px solid #ccc; overflow: hidden; font-size:12px;}
.adTraceBox p{font-size:12px;}
.ad2GoodBox{width:193px; height:275px; border:1px solid #666; margin-top:15px;  font-size:12px;}

#tuanFloatL{width:790px; height:auto; float:left; background:#fff;}
#tuanFloatLTop{width:788px; height:auto; padding-bottom:10px; border:1px solid #ccc;}
#tuanFloatR{width:195px; height:auto;  float:left; margin-left:15px; _margin-left:10px; background:#fff;}
#tuanInfoMsg{width:755px; padding:15px; height:auto; _overflow:hidden; max-height:140px; _height:expression((document.documentElement.clientHeight||document.body.clientHeight)<140?"140px":""); font-size:22px; color:#000; line-height: 35px; font-family: '微软雅黑'}
#tuanInfoMsg span{color:#f00!important;}
#tuanBroadBox{width:770px; height:490px; margin-left:9px; margin-top:10px;}
#tuanBroadLeft{width:270px; height:490px; float:left; overflow: hidden; background:url(../img/tuan/all.fw.png) 0 -276px no-repeat;}
#tuanBroadLeft h3{margin:15px auto 10px 65px; width:200px; height:50px; padding:0; font-size:50px; color:#d80000; font-family: Arial;}
ul#priceOff{ list-style: none; margin-top:10px; padding-left:10px; height:50px;}
ul#priceOff li{ list-style: none; float:left;}
p#tuanComeDown{margin-left:66px; margin-top:50px; font-size:13px; color:#666; line-height: 30px; letter-spacing:0.1em;}
p#tuanComeDown b{color:#f00; font-size:18px; font-family: '微软雅黑'}

#tuanBroadRight{width:500px; height:490px; float:left; overflow:hidden; margin-left:0; background:url(../img/tuan/bg3Corner.fw.png) left top no-repeat;}
#tuanBroadRImgBox{width:500px; height:450px; margin-top:14px; position: relative;}
#tuanShadowBox{width:348px; height:auto; left:270px; top:135px; border:1px solid #f22; max-height:450px; _height:expression((document.documentElement.clientHeight||document.body.clientHeight)>450?"450px":"");  position: absolute; z-index: 1; }
#tuanShadowTitle{width:100%; height:26px; text-indent: 5px; position: relative; background-color:#f44; font-size:13px; color:#fff; text-align: left; line-height: 26px;}
#closeShadowBox{width:16px; height:16px; display: block; background:url(../img/tuan/all.fw.png) -744px -129px no-repeat; position: absolute; z-index: 2; right:5px; top:5px;}
#tuanShadowContent{opacity:0.9; filter:alpha(opacity=90);  width:300px; height:auto; overflow: hidden; padding:12px 13px 12px 35px; background:#fff;}
.tuanShadowCon{margin-bottom:10px; clear: both; overflow: hidden;}
.tuanShadowCon h5{color:#333; font-size:12px; width:40px; height:30px; line-height: 30px; float:left; display: block;}
.tuanShadowCon ul, .ulSelect{ list-style: none; float:left; width:260px; height:auto;}
.ulSelect li{list-style: none; font-size:12px; color:#000; background:#fff; height:30px; line-height: 30px; float:left; cursor:pointer; width:45px; text-align: center; margin-right:10px; border:1px solid #999;}
.checked{background: #fff url(../img/tuan/checked.fw.png) right bottom no-repeat!important; border:1px solid #f00!important;}
.offChecked{background:#e0e0e0!important; color:#999!important; cursor:auto!important;}
#tuanChoseSize li{width:auto; padding-left:8px; padding-right:8px; margin-bottom: 10px; font-size:14px!important; font-family: Arial;}
#tuanChoseNum{height:25px; display: inline-block;}
#tuanChoseNum span{width:18px; height:18px; display: block; margin-top:5px; float:left; cursor:pointer; background-image:url(../img/tuan/all.fw.png);}
#tuanChoseNum s{width:31px; height:23px; float:left; border:1px solid #999; text-align:center; line-height: 23px; background:#fff; color:#666; font-size: 12px; font-family: Arial; display:block; margin-left:8px; margin-right:8px; text-decoration: none;}
.unSub{cursor:auto!important; background-position: -278px -378px;}
.numSub{background-position: -317px -378px;}
.unAdd{background-position: -297px -378px;}
.numAdd{background-position:-336px -378px;}
#btnBuyNow3{width:133px; height:33px; display: block; margin-left:80px; _margin-left:40px;  background:url(../img/tuan/all.fw.png) -548px -128px no-repeat; cursor:pointer;}


#tuanBroadRIcon{width:500px; height:30px; padding-top:5px; _padding-top:0px; background:url(../img/tuan/bg31Corner.fw.png) left top no-repeat; }
#tuanIconFav{width:auto; height:17px; float:left; margin-left:235px;  background:url(../img/tuan/iconFav.fw.png) left no-repeat; font-size:12px; color:#444; padding-left:20px;}
#tuanIconFav span{color:#aaa!important;}
#tuanShareWeixin{width:auto; height: 20px; float:left; color:#333; font-size:12px;}
#tuanBuyNote{width:768px; height:156px; padding-top:10px; background:url(../img/tuan/all.fw.png) 0 -766px no-repeat; margin-left:9px; margin-top:20px; overflow:hidden;}
#tuanBuyNote p{margin-left:190px; padding:0; line-height: 22px; font-size:12px; color:#444;}

.htmlEditorBox{width:788px; height:auto; font-size:12px; text-align:left; text-indent:2em; line-height:18px; overflow:hidden; border:1px solid #ccc; margin:10px auto;}
.htmlEditorBox p{font-size:12px;}

#tuanListRightBox{width:100%; height:auto; overflow:hidden; margin-top:15px;}
#tuanListRightBox h3{width:195px; padding:0; margin:0; text-align: center; line-height: 40px; color:#fff; font-size: 12px; height:40px; background:url(../img/tuan/all.fw.png) -139px -70px no-repeat;}
#tuanUlList{list-style: none; border:1px solid #ccc; border-top:none; width:193px; height:auto; overflow: hidden;}
#tuanUlList li{list-style:none; float:none; padding:10px 12px;}
a.tuanLiTitle{padding:0; margin:0; line-height:18px; font-size:12px; height:34px; overflow:hidden; display:block;}
.tuanBroadBuyBox{width:168px; height:124px; background:#ececec; text-align: center; margin-top:-3px;}
.tuanBroadBuyBox h5{font-size:30px; color:#f00; font-family: Arial; margin:0; padding:0; line-height: 35px;}
.tuanBroadBuyBox h5 span{font-size:18px!important;}
.tuanBroadBuyBox s{font-size: 12px; color:#999; line-height: 15px;}
.tuanBroadBuyBox p{font-size:12px; color:#f00; line-height:20px;}
.tuanBroadBuyBox p b{color:#999;}

/*--tab切换--*/
#tuanTabBox{width:100%; height:auto; overflow: hidden; margin-bottom: 15px;}
#tuanTabTop ul{list-style: none; width:790px; height:35px; background:#eee;}
#ulTuanTab li{float:left; cursor:pointer; text-align: center; width:120px; height:35px; line-height: 35px; color:#999; font-size:14px; font-family: '微软雅黑'; margin-right:5px; }
li.onTabShow{background-position: -667px -277px!important; color:#fff!important; width:127px!important; cursor:auto!important;}


/*---html 服务导入---*/
#iconLoadTab{width:768px; border:1px solid #aaa; height:auto; padding:10px;}
#iconUlTab{ list-style: none; overflow: hidden;}
#iconUlTab li{width:74px; height:74px; float:left; margin-left:20px; list-style: none;}
#iconUlTab li a{display: block; width:74px; height:74px; background-image:url(../img/tuan/all.fw.png);}
#iconQA{background-position: 0 -192px;}
#icon7Day{background-position: -97px -192px;}
#iconWms{background-position: -194px -192px;}
#iconCam{background-position: -291px -192px;}
#iconSent{background-position: -388px -192px;}
#iconPackage{background-position: -485px -192px;}
#iconServ{background-position: -582px -192px;}
#iconPart{background-position: -679px -192px;}

#loadContentBox{width:98%; padding-left:1%; padding-right:1%; padding-top:10px; font-size: 12px; line-height: 18px; text-align: left;}


/*--产品信息 从详情转入--*/
.comment_rule{ width:auto; padding:15px 0 15px 15px; position: relative;}
.comment_rule p{ width:555px;line-height:18px;color:#333;}
.comment_rule p a{ color: #333!important; text-decoration:underline!important;}
a.getfen{ display: block; width:119px; height:45px; background:url(../img/plist/plist_bg.png) 0 -430px no-repeat; position: absolute; top:34px; right:10px;}


.pro_main_block_b{overflow:hidden;}
.pro_main_block h3{padding-left:10px;height:25px;color:#999;font-size:13px;display:block;float:left;height:44px;line-height:48px;}
.pro_main_block_c{float:left;width:768px;padding-bottom:10px;}
.pro_main_block_c p{color:#777;text-indent:26px;padding:0 10px;line-height:18px;}
.pointOut{background:url(../img/plist/point_out_bg.png) right top no-repeat;padding:35px 10px 40px 7px;}
.pointOut p{color:#444;line-height:22px;}
.desc_table{ width:100%; padding:0; border-collapse:collapse;display:table;}
.desc_table td{border:2px solid #fff;font-size:12px;padding: 6px 0;height:23px; line-height:23px;border-collapse:collapse;font:12px ,"宋体";color:#000;}
.tdleft{width:104px; background-color:#e8e8e8; font-size:12px!important;text-align:center; color:#000;}
.tdright{text-align:left; padding-left:30px!important; padding-right:8px!important; background-color:#fafafa;}

#youhui{overflow:hidden;position:relative;margin-bottom:10px;}
.youhui_none{ display:none}
.youhui_table{padding:4px 0 0 35px;font-weight:bold;color:#d90000;font-family:"微软雅黑";font-size:15px;}
.youhui_top{ background:url(../img/plist/detail.png) no-repeat 8px -113px;height:33px;border-width:1px 1px 0 1px;border-color:#dcdcdc;border-style:solid}
.youhui_m{position:relative;border:1px solid #dcdcdc;float:left;width:761px;padding-bottom:15px;background-color:#fafafa;z-index:100;height:74px;overflow:hidden;}
.youhui_m li{color:#d90000;padding:10px 0 0 10px;height:22px;line-height:22px;margin:0 0 0 10px;clear:both;width:728px}
.youhui_m li a{color:#d90000;}
.youhui .more,.youhui .close{background:url(../img/plist/detail.png) no-repeat;width:61px;height:28px;display:block;position:absolute;bottom:5px;_bottom:0px;right:10px;cursor:pointer;z-index:9999}
.youhui .more{background-position:0 -150px;}
.youhui .close{background-position:-70px -150px;}

.attr_title{width:762px;height:36px;background:url(../img/plist/pro_title.png) 98px 0 no-repeat;text-align:center;margin-bottom:7px;}
.attr_title span{position:relative;left:-52px;top:5px;color:#222;}
.goods_size,.tile_show,.show_details{width:105px;height:36px;float:left;}
.goods_size{background:url(../img/plist/goods_size.png) no-repeat;}
.tile_show{background:url(../img/plist/tile_show.png) no-repeat;}
.show_details{background:url(../img/plist/show_details.png) no-repeat;}
.pro_main_block_b{overflow:hidden;padding-left:10px;}

.pro_main_block{float:left;width:100%;margin-top:10px;padding-bottom:20px; font-size: 12px;}
.pro_main_block h3{padding-left:10px;height:25px;color:#999;font-size:13px;display:block;float:left;height:44px;line-height:48px;}
.pro_main_block_c{float:left;width:768px;padding-bottom:10px;}
.pro_main_block_c p{color:#777;text-indent:26px;padding:0 10px;line-height:18px;}
.baoyang li{margin-left:15px}
.pro_main_block_c_img{text-align:center}
.pro_main_block_c_img img{margin-bottom:7px}

.view_dianping_link{ background:url(../img/plist/dianpin.png) scroll;height:16px;width:55px;cursor:pointer;margin:3px 0 0 5px;display:block}
.pro_intro h2 span{ float:left}

.b {font-weight: 700;}
.c99 {color: #999999;}


/*点评咨询内容*/
.comment_item,.qa_form_area,.qa_item{ clear: both; overflow: hidden; width:673px; border:1px solid #CCC; background:#EAEAEA; padding:10px 10px 10px 15px; margin-top:10px;}
b.rank_type_4,b.rank_type_3,b.rank_type_2,b.rank_type_1,b.rank_type_,.comment_item_r{ float: left;}
b.rank_type_4,b.rank_type_3,b.rank_type_2,b.rank_type_1,b.rank_type_{ display: block; width:48px; height:47px; background-image:url(../img/plist/userlevel.png); background-repeat:no-repeat;}
b.rank_type_4{ background-position:0 0;}
b.rank_type_3{ background-position:-96px 0;}
b.rank_type_2{ background-position:-48px 0;}
b.rank_type_1{ background-position:-144px 0;}
b.rank_type_{ background-position:-192px 0;}
.comment_item_r{ width:610px; margin: 0 0 3px 10px;}
.comment_item_r h2, .comment_reply h2{ margin-bottom:4px; height:16px; line-height:16px; color:#999; font-family:"宋体"; font-size:12px; font-weight:normal;}
.comment_item_r h2 strong,.comment_reply h2 strong{ color:#333; margin-right:10px;}
.comment_item_r h2 em,.comment_reply h2 em{ font-style:normal; float: right;}
.comment_desc{ clear: both; overflow: hidden; padding-bottom:12px; height:auto;}
.comment_desc dl{ clear:both; overflow: hidden;}
.comment_desc dl dt,.comment_desc dl dd{ float: left; color:#333; line-height:18px;}
.comment_desc dl dd{ width:550px;}
.comment_reply{ clear: both; overflow: hidden; width:610px; margin-top:14px;}
p.replyp, p.qa_desc{ line-height:18px; color: #f00;}
.single_item{ border:none!important; padding-bottom:0!important;}
h6.single_line{ border-bottom:1px solid #ccc; background:none; margin:0; padding:0}
.qa_form_area{position: relative; padding-bottom:60px;}
.qa_item{ background:#fff;}
p.qa_desc{color: #333!important; padding-bottom:10px;}
.qa_item p.replyp{ color:#900!important;}
#product_tab_3{margin-top:0;}

/*点评咨询翻页*/
.dianping_page{line-height:30px;overflow:hidden;margin-top:10px;float:right;height:24px;margin-right:57px;_margin-right:28px}
.dianping_page div{overflow:hidden;float:right}
.dianping_page a{cursor:pointer;width:24px;height:22px;background-color:#fff;color:#000;border:1px solid #c2c2c2;text-align:center;line-height:22px;display:block;float:left;margin-right:6px}
.dianping_page a:hover{color:#869ccd;border-color:#869ccd;color:#000}
.dianping_page .preBtn,.dianping_page .nextBtn{background:url(../img/u_center/u_center.png) no-repeat;width:52px}
.dianping_page .preBtn{background-position:7px -483px;padding-left:8px}
.dianping_page .nextBtn{background-position:49px -503px;padding-right:8px;_margin-right:3px}
.dianping_page .sel{background:url(../img/u_center/u_center.png) right -534px repeat-x;color:#fff;font-weight:bold;}
.dianping_page a.sel:hover{color:#fff;border-color:#c2c2c2;}

/*品牌故事*/
.stroy{padding-top:6px;overflow:hidden;}
img.brand_img{border:none;}
.stroy p{margin-top:10px;line-height:25px;color:#333;font-size:12px;text-indent:24px;}

/*点评弹层*/
#lhgdlg_thepanel .myAdeMsgBox{background-image:none;}


/*----团主页面--*/
#tuanBox{width:980px; height:auto; overflow:hidden; margin:20px auto; }
#tuanBoxR{width:184px; height:auto; float:right;}
.J-side-topic{width:182px; height: auto; border:1px solid #ccc; margin-bottom: 20px; margin-top:35px; text-align: left; box-shadow: 0 2px 0 0 #ededed;}
.J-side-topic h3{padding:10px 20px; font-size: 16px;}
.side-extension__item{margin:0 auto; width:160px;}
p.deal-tile__detail{line-height: 30px;}
p.deal-tile__detail .w-link{color:#666;}
p.deal-tile__detail .price{font-size: 22px;}
p.deal-tile__detail .num{color:#f76120; padding-right:10px;}
.side-extension__item {
display: block;
border-bottom: 1px dotted #DDD;
margin-bottom: 20px;
padding-bottom: 13px;
}
.deal-tile__cover {display: block;position: relative;_zoom: 1;text-decoration: none;}
.deal-tile__cover .deal-rank {position: absolute;top: -2px;left: 0;padding: 0 2px 2px 0;width: 16px;height: 16px;line-height: 16px;background: url(../image/sp-icons-24.v93f4adf7.png) -20px 0 no-repeat;_background: url(../image/sp-icons.vbfce69f2.png) -20px 0 no-repeat;color: #FFF;text-align: center;}
.deal-tile__detail span{color:#888; font-size: 12px;}
.bread-nav{height:35px; line-height: 35px;}

.tuanBox{width:790px; height:auto; float:left;}
p#rushTitle, .rushTitle{font-size:18px; color:#666; height:20px; font-weight: bold; padding:0 0 5px 30px; position: relative;}
p#rushTitle i, .rushTitle i{position: absolute; top: 0; _top: 0; left: 0; width: 23px; height: 25px; background: url(../image/vip.png) no-repeat -111px -59px; }
#tuanRushTab{width:778px; height:32px; border:1px solid #d8d8d8; border-top:3px solid #d8d8d8; background:#f2f2f2; margin-top:5px;}
#tuanRushTabUl{list-style: none; float:left;}
#tuanRushTabUl li{float:left; list-style:none; width:66px; height:32px; border-right:1px solid #e5e5e5; cursor: pointer; color:#575b65; text-align: center; line-height: 32px;} 
.tuanRushTabOn{background:#e6e6e6; color:#000!important; cursor: auto!important;}
.tuanRushTabOn a{padding-left:}
a.sortDown:link, a.sortDown:visited{background:url(../img/tuan/rushTabDown.gif) right no-repeat; color:#575b65!important; padding-right:10px;}
a.sortDown:hover, .tuanRushTabOn a:link, .tuanRushTabOn a:visited{background:url(../img/tuan/rushTabDownHover.gif) right no-repeat!important; padding-right:10px; color:#000!important; text-decoration: none!important;}
#discount{position: relative;}
#discount span{color:#666;}
#discount a:link{width:9px; height: 5px; display: block; position: absolute; overflow:hidden; padding:0!important;}
#discountUp{background:url(../img/tuan/sortIcon.gif) 0 0 no-repeat; top:10px; left:50px; width:9px; height: 5px; display: block; position: absolute; overflow:hidden;}
#discountDown{background:url(../img/tuan/sortIcon.gif) -11px -7px no-repeat; top:17px; left:50px; width:9px; height: 5px; display: block; position: absolute; overflow:hidden;}
.discountUp{background:url(../img/tuan/sortIcon.gif) -11px 0px no-repeat!important; top:10px; left:50px; width:9px; height: 5px; display: block; position: absolute; overflow:hidden;}
.discountDown{background:url(../img/tuan/sortIcon.gif) 0 -7px no-repeat!important; top:17px; left:50px; width:9px; height: 5px; display: block; position: absolute; overflow:hidden;}

#tuanForView{float:right; position: relative; z-index: 300;}
#btnForView{width:156px; height:32px; background:url(../img/tuan/all.fw.png) -279px -449px no-repeat; text-align: center; font-size: 13px; line-height: 32px; color:#4160a8; cursor:pointer;}
p.btnForView{background:url(../img/tuan/all.fw.png) -449px -449px no-repeat!important;}
#boxForView{width:544px; height:265px; overflow: hidden; position: absolute; z-index: 310; background:#fff; top:32px; right:0px; border:1px solid #dcdcdc;}
#boxForViewContent{position: relative; margin-left:10px;  margin-top:10px; height:218px;}
.boxForViewUl{list-style: none; left:0; top:0;   overflow:hidden; height:218px; width:1084px; position: absolute;}
.boxForViewUl li{list-style: none; float:left; width:170px; height:210px; margin-right:8px; overflow:hidden;}
.boxForViewUl li a:link{font-size: 12px; color:#395da5; line-height: 18px;}
.boxForViewUl li a:visited{color:#395da5;}
h5.btnForView{width:168px; height:35px; line-height: 35px; margin-bottom:10px; font-size:15px; color:#d80000; background:url(../img/tuan/all.fw.png) -615px -449px no-repeat;}
.btnForView s{padding-left:5px; padding-right:5px; _padding-right:25px; color:#999;}
.imgForView{overflow:hidden;}
#barForView{width:544px; height:38px; position: relative; background:url(../img/tuan/bgAlphaBar.fw.png) left top no-repeat; margin-left:0px; color:#fff; text-align: center;}
#barForView span{color:#ddd; font-size:15px; line-height: 38px; padding-left:15px; padding-right:15px; cursor:pointer;}
.bWFont{font-weight: bold; color:#fff!important;}
#barForView a:link{position: absolute; right:10px; top:8px; color:#fff; text-decoration: underline;}

.tuanRushBox{overflow: hidden;}
.tuanRushBox ul{list-style:none; margin-top:10px;}
.tuanRushBox ul li{width:380px; height:370px; transition: all 0.3s linear;-webkit-transition: all 0.3s linear; box-shadow: 0 2px 0 0 #ededed; border:1px solid #ddd; position: relative; float:left; margin-right:16px; margin-bottom:15px; background:#fff;}
.tuanRushBox ul li:hover{transform: translateY(-5px);-webkit-transform: translateY(-5px);}
.greenBorderBox{width:350px; height:305px; border:1px solid #bfe365; position: absolute; left:0px; top:1px; z-index: 400; cursor:pointer;}
.noRightMargin{margin-right: 0!important;}
.rushBox span{color:#999!important; font-size: 14px!important;}
.rushBoxP{line-height: 30px; height:30px; font-size:16px; color:#333; overflow:hidden; font-weight:bold;}
.rushBoxBotm{width:350px; height:50px;  position: relative;}
b.priceTuan{color:#f76120; font-size:28px; font-family: arial,sans-serif; line-height: 50px; font-weight: normal; padding-right:10px;}
s.priceTuan{color:#999;}
.btnGoToSee{width:101px; height:30px; display: block; background:url(../img/tuan/all.fw.png) -278px -407px no-repeat; position: absolute; z-index: 300; right:20px; top:10px;}
.rushShadowLiBox{position: relative; height:207px;}
.rushShadowLiCont{width:100%; border-top:1px solid #f3f3f3; height:30px; line-height: 30px; }
.rushShadowLiCont s{color:#666; float:left; padding-left:20px;}
.rushShadowLiCont p{color:#999; margin-right:10px;}
.rushShadowLiCont p b{color:#f76120!important;}
.marginR{margin-right: 0!important;}
.rushBox{overflow: hidden; padding:15px;}

#tuanAdMainBox{width:1000px; height:310px; position: relative; margin:0 auto; z-index:900;  background:#fff;}
#AdMainImg{width:338px; height:345px; display: block; position: absolute; left:0; bottom:0; z-index: 9990;}
#tuanAdMainCont{overflow:hidden; float:right; margin-top:13px;}
#tuanAdMainCont h3{color:#3959a5; font-size:20px; text-indent: 10px; line-height: 35px; font-weight: normal!important;}
#tuanAdMainCont ul{list-style: none;}
#tuanAdMainCont ul li{ list-style: none; width:300px; height:255px; float:left; margin-left:10px;}
p.pBrandKeywords{color:#878787; font-size: 12px; line-height: 20px; height:20px;}
p.pBrandKeywords b{font-size: 15px!important; color:#000!important; padding-right:10px;}
h4.h4Price{color:#d80000; font-size: 15px; line-height: 20px; height:20px;}
h4.h4Price strong{font-size:20px!important; padding-right:10px;}
h4.h4Price s{color:#878787!important; font-size: 12px!important; font-weight: normal!important;}
.btnSquare{width:30px; height:30px; display: block; background:url(../img/tuan/all.fw.png) -390px -407px no-repeat; margin-top:5px;}
/*团详情引入美团*/
#deal-intro {
overflow:hidden;
margin-bottom: 10px;
padding: 15px 15px 0 15px;
border: 1px solid #d4d4d4;
border-bottom: 1px solid #dbd7d6;
border-bottom-left-radius: 3px;
border-bottom-right-radius: 3px;
-moz-box-shadow: 0 1px 1px #ccdee0;
-webkit-box-shadow: 0 1px 1px #ccdee0;
box-shadow: 0 1px 1px #ccdee0;
background: #fff;
clear: both;
position:relative;
}
#deal-intro .deal-brand {
padding: 9px 20px 5px 0;
font: normal bold 28px/1.4 'Microsoft Yahei','黑体',Tahoma,Helvetica,arial,sans-serif;
color: #000;
}
#deal-intro .deal-brand h1 {
display: inline;
padding: 0;
font-size: 28px;
}
#deal-intro h2.deal-title {
padding: 0 20px 20px 9px;
font-size: 20px;
line-height: 1.4;
font-family: 'Microsoft Yahei','黑体',Tahoma,Helvetica,arial,sans-serif;
color: #777;
}
#deal-intro .main {
position: relative;
float: left;
margin-bottom: 16px;
padding-top: 63px;
width: 210px;
_display: inline;
background: #f4f4f4;
font-family: Helvetica,arial,sans-serif;
}
#deal-intro .deal-discount {
position: absolute;
top: 0;
left: -7px;
padding: 0 0 7px 15px;
width: 202px;
height: 56px;
font-size: 34px;
font-family: arial,sans-serif;
color: #fff;
z-index: 1;
background: url(../image/sp-deal-intro-24.v94ba68dd.png) 0 0;
_background: url(../image/sp-deal-intro.v8d90c0cf.png) 0 0;
}
.bread-nav a {
color: #f00;
}
#deal-intro .deal-discount .price {
line-height: 56px;
}
#deal-intro .deal-discount .symbol-RMB {
margin-right: -4px;
font-size: smaller;
}
#deal-intro .deal-discount .original {
position: relative;
margin-left: 5px;
font-size: 12px;
line-height: 18px;
}
#deal-intro .deal-discount .discount-price {
font-weight: bold;
text-decoration: line-through;
text-decoration: #C00 solid line-through;
}
#deal-intro .deal-discount .discount-text {
position: absolute;
width: 44px;
height: 23px;
top: -31px;
right: 0;
background: url(../image/sp-deal-intro-24.v94ba68dd.png) 0 -310px no-repeat;
_background: url(../image/sp-deal-intro.v8d90c0cf.png) 0 -310px no-repeat;
text-align: center;
}
#deal-intro .main .deal-info {
background: #f4f4f4;
border: 1px solid #e4e4e4;
border-width: 0 0 1px 1px;
font-size: 12px;
font-family: arial,Tahoma,sans-serif,Tahoma,sans-serif;
color: #666;
text-align: center;
}
#deal-intro .main .deal-buy {
height: 40px;
padding: 25px 3px 25px 60px;
border-bottom: 1px solid #e3e3e3;
font-size: 16px;
text-align: center;
}
.deal-on{line-height: 30px;}
#deal-intro .main .deal-buy a, #deal-intro .main .deal-buy .pending, #deal-intro .main .deal-buy .over {
float: left;
width: 88px;
height: 40px;
background: url(../image/sp-deal-intro-24.v94ba68dd.png) 0 -64px no-repeat;
_background: url(../image/sp-deal-intro.v8d90c0cf.png) 0 -64px no-repeat;
text-indent: -9999em;
outline: 0;
}
#deal-intro .main .deal-buy .cart {
float: right;
width: 100px;
background-position: 0 -228px;
}
#deal-intro .main .deal-status {
padding: 11px 5px;
border-top: 1px solid #fbfbfb;

height: 73px;
text-align: center;
color: #666;
zoom: 1;
}
#pzbz{border-top: 1px solid #fbfbfb; border-bottom: 1px solid #e3e3e3; border-left:1px solid #e3e3e3; height:78px;}
#deal-intro .main .deal-status .deal-status-count {
font-size: 18px;
line-height: 30px;
}
#deal-intro .main .deal-status .deal-status-count strong {
margin: 0 2px;
color: #ee5239;
}
#deal-intro .main .deal-status .deal-status-time-left strong {
margin: 0 2px;
}
#deal-intro .deal-buy-cover-img {
float: left;
margin-bottom: 16px;
position: relative;
font-size: 0;
box-shadow: -3px 1px 1px -1px #e0e0e0;
}
#deal-intro .deal-mark {
top: -4px;
right: 4px;
}
.deal-mark__item--nnbooking {
background-position: -132px -150px;
}
.deal-mark__item {
float: left;
_position: relative;
margin-right: -3px;
width: 43px;
height: 40px;
background: url(../image/sp-header-new.vf71870d0.png) no-repeat;
text-indent: -9999px;
overflow: hidden;
}

.content-navbar {
position: relative;
width: 788px;
height: 40px;
bottom: -3px;
border: 1px solid #DDD;

background:#fff}
.cf {
zoom: 1;
}
.content-navbar__item--current {
height: 41px;
line-height: 41px;
margin-top: -1px;
border-top: 3px solid #f76120;
background-color: #FFF;
}
.content-navbar li {
	font: normal 14px/1.5 Tahoma,Helvetica,arial,sans-serif;
float: left;
}
.pg-deal-default .content-navbar__item--current .tab-item {
font-weight: bold;
color: #333;
}
.common-fixed {
position: fixed;
_position: absolute;
top: 0;
z-index: 2;
background-position: 0 -48px;
}
.content-navbar .tab-item {
position: relative;
display: block;
padding: 0 15px;
height: 40px;
line-height: 40px;
box-shadow: inset 0 0 1px #FFF;
border-left: 1px solid transparent;
_border-left: 0;
border-right: 1px solid #ddd;
outline: 0;
color: #f76120;
text-decoration: none;
_display: inline;
}
.content-navbar .buy-group {
position: absolute;
right: 0;
top: 7px;
}
.content-navbar .buy {
float: left;
width: 55px;
height: 25px;
margin-right: 10px;
background: url(../image/sp-deal-intro-24.v94ba68dd.png) 0 -334px no-repeat;
_background: url(../image/sp-deal-intro.v8d90c0cf.png) 0 -332px no-repeat;
text-indent: -9999em;
outline: 0;
}
.content-navbar .cart {
width: 101px;
background-position: -55px -334px;
_background-position-y: -332px;
}
.content-navbar .cart,.content-navbar .buy {
float: left;
width: 55px;
height: 25px;
margin-right: 10px;
background: url(../image/sp-deal-intro-24.v94ba68dd.png) 0 -334px no-repeat;
_background: url(../image/sp-deal-intro.v8d90c0cf.png) 0 -332px no-repeat;
text-indent: -9999em;
outline: 0;
}
.content-navbar .cart {
width: 101px;
background-position: -55px -334px;
_background-position-y: -332px;
}
#tuanTabCon{
width: 788px;
height: auto;
border: 1px solid #ddd;
overflow: hidden;
}

/*通栏广告*/
.Active{display:block!important;}
#allAdBox{width:1000px; height:250px; margin:0 auto; padding-bottom:10px;  position:relative; z-index:2;}
.allBannerUl{width:100%; height:100%; position:relative; overflow:hidden;}
.allBannerUl li{ position:absolute; z-index:1; left:0; top:0; display:none;}
.allBannerUl li img{width:1000px; height:250px; overflow:hidden;}
span.btnSwitchAllAdUp, span.btnSwitchAllAdDown, #btnSwitchAllAd{position:absolute; z-index:100; top:0; right:0; width:25px; height:40px; cursor:pointer; background:url(../img/index/btnAllOff.png) 0 0 no-repeat;}
span.btnSwitchAllAdUp{background:url(../img/index/btnAllOff.png) 0px 0px no-repeat!important;}
.active{display:block!important;}
span.btnSwitchAllAdDown{background:url(../img/index/btnAllOff.png) -25px 0 no-repeat!important;}

ul#boxBtnAllAd{width:auto; height:22px; list-style:none; float:right; right:20px; top:215px; position:absolute; z-index:100}
#boxBtnAllAd li{width:23px; height:22px; text-align:center; list-style:none; display:block; float:left; margin-left:5px; cursor:pointer; background:url(../img/index/dotSpanWhite.png) no-repeat; _background:none; _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="http://static1.baobeigou.com//img/index/dotSpanWhite.png",  enabled=bEnabled , sizingMethod=sSize);  color:#666; cursor:pointer;}
.activeBtnLiAllAd{background:url(../img/index/dotSpanBlack.png) no-repeat!important; _background:none; _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="http://static1.baobeigou.com//img/index/dotSpanBlack.png",  enabled=bEnabled , sizingMethod=sSize)!important; color:#fff!important;}
/*翻页*/
.switch_block_page{line-height:30px;text-align:right;overflow:hidden; margin-bottom:30px;_margin-bottom:15px;float:right;width:100%; font-size: 12px;}
.switch_block_page div{overflow:hidden;margin-left:200px;}
.switch_block_page a{cursor:pointer;width:22px;height:22px;overflow:hidden;background-color:#fff;color:#da2549;border:1px solid #ddd;text-align:center;line-height:22px;line-height:24px\9;display:block;float:left;margin-right:6px}
.switch_block_page a:hover{border-color:#f00; text-decoration: none;}
.switch_block_page .preBtn,.switch_block_page .nextBtn{background:url(../img/tuan/pageIcon.gif) no-repeat;width:52px}
.switch_block_page .preBtn{background-position:15px -36px;padding-left:15px}
/*.switch_block_page a.preBtn:hover,.switch_block_page a.nextBtn:hover{border-color:#c2c2c2}*/
.switch_block_page .nextBtn{background-position:50px 8px;padding-right:15px;_margin-right:3px}
.switch_block_page .sel{background:#da2549;color:#fff;font-weight:bold;border:1px solid #da2549;width:24px;height:22px}
.switch_block_page a.sel:hover{color:#fff}
.switch_block_page .nosel{border:0}

.deal-tile__title a{color:#666; line-height: 22px;}


 /*---颜色尺码选择--*/

.y_block{opacity:0.9; filter:alpha(opacity=90); font-size: 12px; width:300px; height:auto; overflow: hidden; padding:12px 13px 12px 35px; background:#fff;}
.y_block dl{float:left;width:300px;margin-bottom:16px}
.y_block dt,.y_block dd{float:left}
.y_block dt{width:50px; font-weight: bold; color:#666;}
.y_block dd{width:250px}
.y_block .size{width:250px}
.y_block dd span{display:inline-block;margin-right:10px;margin-bottom:5px;float:left;cursor:pointer;position:relative;border:1px solid #999;background-color:#fff}
.y_block .color span{border:1px solid #999; padding:1px 3px;}
.y_block dd img{border:1px solid #999}
.y_block .sel{border-color:red}
.y_block .outofsale{border:1px solid #999;background-color:#e0e0e0;color:#999}
.size a.outofsale:hover{border-color:#999;}
.y_block .sel s{width:11px;height:11px;position:absolute;bottom:0;_bottom:-5px;right:0;background:url(../img/plist/btn_sel.gif) no-repeat}
.y_block .sel img{border-color:red}
.y_block .color .sel s{right:0px;bottom:0px;_bottom:4px}
.color span{padding:1px}
.size span{padding:0 16px;line-height:20px;font-family:arial;font-size:14px;}
.y_block p{float:left;width:100%}
.size a{display:inline-block;margin-right:10px;margin-bottom:13px;float:left;border:1px solid #999;color:#000;position:relative;width:48px;width:50px\9;text-align:center;line-height:20px;font-family:arial;font-size:14px}
.size a:hover{border-color:red; text-decoration: none;}
.p_pri span font{float:left;font-size:12px;margin-top:2px}
a.refer_size{ border:none!important; width:76px; padding-left:44px!important; line-height:27px!important; font-size:12px!important; text-decoration:underline!important; background:url(../img/plist/checksize_bg.png) left center no-repeat;position:relative;float:left;margin:0 10px 10px 0;height:21px;color:#000}
a.refer_size:hover{color:red}
.number a{width:11px;height:11px;line-height:11px;border:1px solid #cfcfcf;display:block;float:left;text-align:center;cursor:pointer;font-family:arial;margin-top:5px;margin-right:3px;}
.number input{float:left;width:28px;height:16px;line-height:16px;display:block;border:1px solid #cfcfcf;text-align:center;font-family:arial;margin-right:3px;margin-top:3px;background-color:#fff}
.number .noclick{color:#cfcfcf}
.y_block .topNotice{background-position:0 -30px;padding-left:65px;line-height:30px;margin-top:20px}

/*按钮*/
.btn_g_78,.btn_r_82{text-align:center;display:inline-block;color:#fff;cursor:pointer;border:0;font-size:14px;font-weight:bold;height:37px;line-height:34px;}
.btn_g_78{background:url(../img/plist/detail.png) -60px -185px no-repeat;width:78px}
.btn_r_82{background:url(../img/plist/detail.png) -60px -65px no-repeat;width:82px}

